.header {
    background-color: #333333;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
}

.header a p {
    display: inline-block;
    margin: auto auto;
    height: 32px;
    padding: 4px 12px;
    border-left: solid 1px #a7a7a7;
    border-right: solid 1px #a7a7a7;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header a p.active {
    background-color: #04aa6d;
    font-weight: bold;
}

.main-images {
    width: 90%;
    overflow: hidden;
    height: 30vh;
    margin: auto;
}

.main-images img.side {
    width: 25%;
    height: 30vh;
}

.main-images img.mid {
    width: 45%;
    height: 30vh;
}

.main-area {
    width: 80%;
    margin: auto;
    height: 58%;
    display: block;
}

.main-area > .section-left {
    width: 25%;
    float: left;
    padding: 0px 0.2%;
}

.main-area > .section-middle {
    width: 25%;
    float: left;
    padding: 0px 0.2%;
}

.main-area > .section-right {
    width: 45%;
    float: left;
    padding: 0px 0.2%;
}

.panel-left {
    height: 100%;
}

.panel-middle {
    height: 50%;
}

.panel-right {
    height: 25%;
    display: inline-block;
}

.panel-header {
    text-align: center;
    font-weight: bold;
}

.panel-body {
    text-align: justify;
}

.panel-more a {
    color: black;
    font-size: 11pt;
}

.panel-more.right {
    text-align: right;
}

.panel-left img,
.panel-middle img {
    width: 90%;
    height: 48px;
}

.panel-right img {
    width: 20%;
    height: 90%;
    display: inline-block;
    margin: 0px 24px 0px 0px;
}

.panel-right .panel-header {
    display: inline-block;
    vertical-align: top;
    margin: 12px 24px 0px 0px;
}

.panel-right .panel-right-body {
    display: inline-block;
    width: 50%;
}

.panel-right .panel-right-body .panel-more a {
    color: white;
    text-decoration: none;
    background: #2498f3;
    border-radius: 4px;
    border: thin solid black;
    padding: 1px 8px;
}