.smallcard {
    width: 200px;
}

.bigcard {
    background-color: #f8bbd0;
    overflow: hidden;
    width: 300px;
}

.bigtext {
    text-align: justify;
}

.bigimg {
    width: auto;
    height: 180px;
}

.carouselimg {
    width: auto;
    height: 380px;
}

.smallimg {
    width: auto;
    height: 80px;
}